programacao_descomplicada/structs/teste.exe
programacao_descomplicada/strings/exercicio10/exercicio10.exe
programacao_descomplicada/strings/exercicio20/exercicio20.exe
programacao_descomplicada/structs/teste.c
Semana1/exercicio3/exercicio3.exe
Semana1/teste/teste.exe
Semana1/teste/teste.c
Trabalho1/trabalho1.exe
Trabalho1/Dr. Memory (drag your app here).lnk
teste/teste.c
Trabalho1/teste.c
Trabalho1/teste.exe
.gitignore
Trabalho2/Dr. Memory (drag your app here).lnk
Trabalho2/trabalho2.exe
TrabalhoAgenda/agenda.exe
teste/teste.exe
teste.exe
TrabalhoAgenda/a.exe
TrabalhoAgenda/Dr. Memory (drag your app here).lnk
teste.c
Dr. Memory (drag your app here).lnk
Agenda/.vscode/launch.json
